.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 85vh;
    gap: 50px;
}

.image-container img {
    max-height: 500px;
    width: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar {
    background-color: #2D3E40;
    margin-bottom: 20px;
}

.heading {
    color: #E4F2E7;
    padding: 10px;
}

.image-container div {
    color: #387373;
}